.div1_title{
  font-size: 15px;
  font-weight: bold;
}
.mat-icon {
  font-size: 20px !important;
}

.div1_header{
  background-color: #e1e1e1;
  border: 1px solid  #e1e1e1;
  color:#000000;
  padding:10px;
  margin-top: 15px;
}
.div1_content{
  background-color:#FFFFFF;
  border: 1px solid  #e1e1e1;
  padding:20px;
}

.bt_archival{
  margin-left: 15px;
  background-color: #0b3f75;
  color: #FFFFFF;
}

.archiv-box{
  display: inline-block;
}
