<div class="container">
  <h2 i18n="">Import (Fahrzeug)</h2>
  <div class="div1_header">
    <p><mat-icon> cloud_upload</mat-icon><span class="div1_title" i18n>Zip Upload</span></p>
    <span  i18n>Upload Zip-Datei</span>
  </div>
  <div class="div1_content">
    <mat-divider></mat-divider>
    <section>
      <div class="check_detail_header">
        <span class="div1_title" i18n>Zip Prozess Erfolgreich</span>
        <mat-icon>check_circle</mat-icon>
        <span class="zipTime">{{dateNow}}</span>
      </div>
    </section>
  </div>
</div>
